{% extends "base.html" %}
{% block content %}
<h1>Contact Management</h1>
<h2>Contact List</h2>
<ul class="list-group">
    {% for contact in contacts %}
    <li class="list-group-item">
        
        <div class="row">
            <!-- Display the alias on a separate line -->
            <div class="col-12">
                <strong>{{ contact.alias }}</strong>
            </div>
            <!-- First Name and Last Name -->
            <div class="col-12">
                {{ contact.first_name }} {{ contact.last_name }}
            </div>
            <!-- Email and Phone -->
			 <!--
            <div class="col-12">
                <span>Email: {{ contact.email }}</span>
            </div>
		-->
            <div class="col-12">
                <span>Phone: {{ contact.phone }}</span>
            </div>
        <!-- Form for updating connected status -->
    <!--
        <div class="col-12 mt-2">
    
        <form method="POST" action="{{ url_for('update_contact_checkbox') }}" style="display: inline;">
            <input type="hidden" name="id" value="{{ contact.id }}">
            <input type="hidden" name="field" value="mail_send">
            
            <div class="form-check form-check-inline">
                
                <input class="form-check-input" type="checkbox" name="value" value="1"
                    {% if contact.mail_send %} checked {% endif %}
                    onchange="this.form.submit()"> mail_send
            </div>
        
        
        </form>
    
        </div>
        -->
        <div class="col-12 mt-2">
        <!-- Form for updating SMS send status -->
        <form method="POST" action="{{ url_for('update_contact_checkbox') }}" style="display: inline;">
            <input type="hidden" name="id" value="{{ contact.id }}">
            <input type="hidden" name="field" value="sms_send">
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="value" value="1"
                    {% if contact.sms_send %} checked {% endif %}
                    onchange="this.form.submit()"> SMS Send
            </div>
        </form>
        </div>
        
        <!-- Button to edit contact details -->
        <div class="col-12 mt-2">
        <form method="GET" action="{{ url_for('edit_contact', id=contact.id) }}" style="display: inline;">
            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
        </form>
        </div>


        <div class="col-12 mt-2">      
		<form method="POST" action="{{ url_for('delete_contact', id=contact.id) }}" style="display:inline;" onsubmit="return confirmDelete()">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        </div>
    </div>
    </li>
    {% endfor %}
</ul>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this contact?");
    }
</script>
<!--
<h2> Add contact</h2>
-->
<div class="mt-2">
    <a href="{{ url_for('add_contact') }}" class="btn btn-success btn-lg">Add Contact</a>
</div>

{% endblock %}

