{% extends "base.html" %}
{% block content %}
<body>
    <div class="container mt-4">
        <h1 class="text-center">Project Version</h1>
        <div class='version'>Current Version: 3.0.1</div>
        <div class='description'>
            <p>This version reflects the most recent updates to the project.</p>
            <p>Each commit should increments this version number, allowing you to track changes over time.</p>
        </div>
        <div class='footer'>
            <p>&copy; $(date +'%Y') MonICam. All rights reserved.</p>
        </div>
    </div>
    
    
</body>

{% endblock %}